@keyframes scale {
    0% {
        opacity: 0;
        filter: blur(5px);
        transform: scale3d(0.1, 0.1, 0.1) rotate(0deg);
    }

    10% {
        filter: contrast(10%);
    }

    20% {
        filter: saturate(20%);
    }

    40% {
        filter: saturate(40%);
    }

    50% {
        filter: saturate(50%) blur(5px);
        opacity: 1;
        transform: scale3d(1, 1, 1) rotate(180deg);
    }

    60% {
        filter: saturate(40%);
    }

    70% {
        filter: saturate(20%);
    }

    100% {
        opacity: 0;
        filter: blur(5px);
        transform: scale3d(0.1, 0.1, 0.1) rotate(360deg);
    }
}

.scale {
    /*animation-timing-function: steps(15);*/
    /*animation-duration: var(--animate-duration);*/
    /*animation-name: scale;*/
    animation: var(--animate-duration) scale linear infinite;
}