@import "./vars.css";
@import "./normalize.css";
@import "./buttons.css";

html {
    font-size: 20px;
}

.container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

button {
    margin-bottom: 20px;
}
