* {
    box-sizing: border-box;
}

body {
    padding: 50px;
    margin: 0;
    background-color: #4b4f56;
}

h1 {
    text-align: center;
    color: white;
}

.chart {
    width: 200px;
    height: 200px;
}