.mario-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mario-container .mario-img {
    width: 400px;
    /*filter: brightness(0.4);*/
    /*filter: contrast(200%);*/
    /*filter: drop-shadow(16px 16px 20px blue);*/
    /*filter: grayscale(50%);*/
    /*filter: hue-rotate(90deg);*/
    /*filter: invert(75%);*/
    /*filter: opacity(25%);*/
    filter: saturate(30%);
    /*filter: sepia(60%);*/
    transition: filter, transform 0.5s ease;
    cursor: pointer;
}

/*.mario-container .mario-img:hover {*/
/*    transform: scale(1.5);*/
/*    filter: drop-shadow(16px 16px 20px blue);*/
/*}*/

/*.mario-container .mario-img:active {*/
/*    filter: drop-shadow(16px 16px 20px blue);*/
/*}*/