header {
    min-height: 100vh;
    background-image: url('../images/header-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 0;
}

header nav .main-navigation {
    display: flex;
}

header nav .main-navigation .nav-item {
    display: flex;
    margin: 0 20px;
}

header nav .main-navigation .nav-item:first-child {
    margin-left: 0;
}

header nav .main-navigation .nav-item:last-child {
    margin-right: 0;
}

header nav .main-navigation .nav-item a {
    color: white;
    cursor: pointer;
}

header .profile-link {
    display: flex;
    align-items: center;
    color: #FFF;
    cursor: pointer;
}

header .profile-link:before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background: url('../images/cart.png');
}

.hero-section {
    margin-top: 200px;
}

.hero-section .rotate {
    /*display: block;*/
    /*transform: rotate(90deg);*/
    writing-mode: vertical-lr;
}

.hero-section h2 {
    font-size: 60px;
}

.hero-section .title-container {
    max-width: 650px;
}

.hero-section .margin-bottom {
    margin-bottom: 24px;
}

.hero-section .network-links-list .network-link-item {
    margin-bottom: 24px;
}

.hero-section .network-links-list .network-link-item a {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.hero-section .network-links-list .network-link-item a img {
    width: 100%;
    height: 100%;
}