body {
    background: #354147;
    color: #fff;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}

.hidden {
    text-indent: -99999px;
    overflow: hidden;
    height: 0;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

@media (max-width: 500px) {
    .mobile-hide {
        display: none;
    }
}