body, h1, h2, p {
    margin: 0;
}

ul, ol, li {
    /*margin: 0;*/
    /*padding: 0;*/
    list-style-type: disc;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.yellow {
    color: yellow;
}














/** {*/
/*    box-sizing: border-box;*/
/*}*/

/*body {*/
/*    margin: 0;*/
/*}*/

/*header {*/
/*    width: 100%;*/
/*    padding: 20px 0;*/
/*}*/

/*.red {*/
/*    background: red;*/
/*}*/

/*.green {*/
/*    background: green;*/
/*}*/

/*.blue {*/
/*    background: blue;*/
/*}*/

/*.yellow {*/
/*    background: yellow;*/
/*}*/

/*.container {*/
/*    max-width: 1000px;*/
/*    padding: 10px;*/
/*    margin: 0 auto;*/
/*}*/

/*.block {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    margin: 10px;*/
/*    padding: 10px;*/
/*}*/

/*.block.big {*/
/*    width: 200px;*/
/*    height: 200px;*/
/*}*/

/*.block.small {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*}*/

/*.relative {*/
/*    position: relative;*/
/*}*/

/*.absolute {*/
/*    position: absolute;*/
/*}*/

/*.fixed {*/
/*    position: fixed;*/
/*}*/

/*.sticky {*/
/*    position: sticky;*/
/*    top: 0;*/
/*}*/

/*.padding-top {*/
/*    padding-top: 120px;*/
/*}*/

